<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "be.gorisoft.football.scorekeeper"
        versionCode = "15" 
        version     = "1.1.0" >
	
	<name>Football Score Keeper</name>

    <description>Keep score of matches</description>

    <author href="https://build.phonegap.com" email="igor.stuyver@telenet.be">
        Igor Stuyver 
    </author>

    <gap:platform name="ios" />

	<gap:splash src="splash.png" gap:platform="ios"/>
	<icon src="logo.png" gap:platform="ios" width="60" height="60" />

    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="net.yoik.cordova.plugins.screenorientation" version="1.2.1" />

</widget>