<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >
	
	<name>Football Score Keeper</name>

    <description>Keep score of matches</description>

    <author href="https://build.phonegap.com" email="igor.stuyver@telenet.be">
        Igor Stuyver 
    </author>

    <gap:platform name="ios" />

	<plugin name="File" value="CDVFile" />
	<plugin name="FileTransfer" value="CDVFileTransfer" />

</widget>