<!DOCTYPE html>
<html ng-app="SoccerKeeperApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/ionic.min.css" />
        <link rel="stylesheet" type="text/css" href="css/footballscorekeeper.css" />
        <title>Hello World</title>
    </head>
    <body>
    	<ion-nav-view animation="slide-left-right"></ion-nav-view>
		<ion-content>
        	<br/>
        	<br/>
        	<br/>
			{{ 'NOPAGE_LOADING' | translate }}
		</ion-content>
		<div class="bar bar-footer bar-balanced" id="barFooter">
			<button class="button button-icon button-clear ion-ios7-person" onclick="window.location = '#/players'"></button>
			<div class="title">
			<button class="button button-icon button-clear ion-ios7-home" onclick="window.location = '#/'"></button>
			</div>
			<button class="button button-icon button-clear ion-ios7-people" onclick="window.location = '#/teams'"></button>
		</div>

<!--
HHHHHHHHH     HHHHHHHHH                                                             
H:::::::H     H:::::::H                                                             
H:::::::H     H:::::::H                                                             
HH::::::H     H::::::HH                                                             
  H:::::H     H:::::H     ooooooooooo      mmmmmmm    mmmmmmm       eeeeeeeeeeee    
  H:::::H     H:::::H   oo:::::::::::oo  mm:::::::m  m:::::::mm   ee::::::::::::ee  
  H::::::HHHHH::::::H  o:::::::::::::::om::::::::::mm::::::::::m e::::::eeeee:::::ee
  H:::::::::::::::::H  o:::::ooooo:::::om::::::::::::::::::::::me::::::e     e:::::e
  H:::::::::::::::::H  o::::o     o::::om:::::mmm::::::mmm:::::me:::::::eeeee::::::e
  H::::::HHHHH::::::H  o::::o     o::::om::::m   m::::m   m::::me:::::::::::::::::e 
  H:::::H     H:::::H  o::::o     o::::om::::m   m::::m   m::::me::::::eeeeeeeeeee  
  H:::::H     H:::::H  o::::o     o::::om::::m   m::::m   m::::me:::::::e           
HH::::::H     H::::::HHo:::::ooooo:::::om::::m   m::::m   m::::me::::::::e          
H:::::::H     H:::::::Ho:::::::::::::::om::::m   m::::m   m::::m e::::::::eeeeeeee  
H:::::::H     H:::::::H oo:::::::::::oo m::::m   m::::m   m::::m  ee:::::::::::::e  
HHHHHHHHH     HHHHHHHHH   ooooooooooo   mmmmmm   mmmmmm   mmmmmm    eeeeeeeeeeeeee  
-->
        
        <script id="templates/home.html" type="text/ng-template">
			<ion-view title="home">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button button-icon icon ion-settings button-clear" onclick="window.location = '#/settings'"></button>
					<h1 class="title">{{ 'HOME_TITLE' | translate }}</h1>
					<button class="button button-icon button-clear ion-ios7-football" onclick="window.location = '#/newMatch'" id="idNewMatch"></button>
				</div>
				<ion-content ng-controller="HomeController">
				
			        <div class="app">
						<div class="content has-header has-footer ionic-pseudo">
							<div class="list">
								<div ng-repeat="team in teams">
									<div class="item item-divider">
									    {{ team.name }}
									</div>
									
									<a class="item" ng-click="details(match)" ng-repeat="match in team.matches">
									    <table cellspacing="0" cellpadding="0" border="0" width="100%">
									    	<tr>
									    		<td width="50%"><span class="title"><b>{{ match.opponent }}</b></span></td>
									    		<td width="50%" align="right"><span class="title"><span class="{{ (( match.teamScore == match.opponentScore ) ? 'energized-bg energized-border' : (( match.teamScore > match.opponentScore ) ? 'balanced-bg balanced-border' : 'assertive-bg assertive-border' ) ) }}">{{ match.teamScore }} - {{ match.opponentScore }}</span></span></td>
									    		<td rowspan="2">
													<button class="button button-icon icon ion-chevron-right button-clear"></button>
									    		</td>
									    	</tr>
									    	<tr>
									    		<td width="50%">{{ match.date.toLocaleDateString() }}</td>
									    		<td width="50%" align="right">
									    			<div ng-show="match.home">{{ 'IS_HOME' | translate }}</div>
									    			<div ng-hide="match.home">{{ 'IS_OUT' | translate }}</div>
									    		</td>
									    	</tr>
									    </table>
									</a>
								</div>
							</div>
						</div>
			        </div>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<!--
			        		<button class="button button-stable" ng-click="insertMatches()">Insert Matches</button>
			        	-->
				</ion-content>
			</ion-view>
		</script>

<!--
MMMMMMMM               MMMMMMMM                          tttt                             hhhhhhh             
M:::::::M             M:::::::M                       ttt:::t                             h:::::h             
M::::::::M           M::::::::M                       t:::::t                             h:::::h             
M:::::::::M         M:::::::::M                       t:::::t                             h:::::h             
M::::::::::M       M::::::::::M  aaaaaaaaaaaaa  ttttttt:::::ttttttt        cccccccccccccccch::::h hhhhh       
M:::::::::::M     M:::::::::::M  a::::::::::::a t:::::::::::::::::t      cc:::::::::::::::ch::::hh:::::hhh    
M:::::::M::::M   M::::M:::::::M  aaaaaaaaa:::::at:::::::::::::::::t     c:::::::::::::::::ch::::::::::::::hh  
M::::::M M::::M M::::M M::::::M           a::::atttttt:::::::tttttt    c:::::::cccccc:::::ch:::::::hhh::::::h 
M::::::M  M::::M::::M  M::::::M    aaaaaaa:::::a      t:::::t          c::::::c     ccccccch::::::h   h::::::h
M::::::M   M:::::::M   M::::::M  aa::::::::::::a      t:::::t          c:::::c             h:::::h     h:::::h
M::::::M    M:::::M    M::::::M a::::aaaa::::::a      t:::::t          c:::::c             h:::::h     h:::::h
M::::::M     MMMMM     M::::::Ma::::a    a:::::a      t:::::t    ttttttc::::::c     ccccccch:::::h     h:::::h
M::::::M               M::::::Ma::::a    a:::::a      t::::::tttt:::::tc:::::::cccccc:::::ch:::::h     h:::::h
M::::::M               M::::::Ma:::::aaaa::::::a      tt::::::::::::::t c:::::::::::::::::ch:::::h     h:::::h
M::::::M               M::::::M a::::::::::aa:::a       tt:::::::::::tt  cc:::::::::::::::ch:::::h     h:::::h
MMMMMMMM               MMMMMMMM  aaaaaaaaaa  aaaa         ttttttttttt      cccccccccccccccchhhhhhh     hhhhhhh
-->        
        
        <script id="templates/newMatch.html" type="text/ng-template">
			<ion-view title="newMatch">
					<form name="frmNewMatch" novalidate>
				    	<div class="bar bar-header bar-balanced" id="barHeader">
							<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/'"></button>
							<h1 class="title">{{ 'MATCH_NEWMATCH_TITLE' | translate }}</h1>
							<button class="button button-clear" onclick="document.getElementById('btnFrmSubmit').click();" ng-disabled="frmNewMatch.$invalid">{{ 'MATCH_NEWMATCH_BTN_START' | translate }}</button>
						</div>
						<ion-content ng-controller="SoccerController">
			        		<div class="app">
					        	<br/>
					        	<br/>
					        	<br/>
					        	<div>
				  					<label id="lblTeam" class="item item-input item-select is-required{{ frmNewMatch.drpTeam.$error.required ? ' has-error' : '' }}">
									    <div class="input-label">{{ 'MATCH_NEWMATCH_LBL_TEAM' | translate }}</div>
										<select ng-model="team" id="drpTeam" name="drpTeam" ng-change="teamSelected()" ng-options="team as team.name for team in teams" ng-required="true">
											<option value="">{{ 'MATCH_NEWMATCH_SELECT_CHOOSE_PLAYER' | translate }}</option>
										</select>
							        </label>
					        		<label class="item item-input is-required{{ ( frmNewMatch.txtOpponent.$error.required || frmNewMatch.txtOpponent.$error.maxlength ) ? ' has-error' : '' }}" id="lblOpponent">
					        			<input type="text" ng-model="opponent" id="txtOpponent" name="txtOpponent" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_OPPONENT' | translate }}" ng-required="true" ng-maxlength="50"/>
					        		</label>
					        		<label id="lblDate" class="item item-input is-required{{ frmNewMatch.txtDate.$error.required ? ' has-error' : '' }}">
					        			<input type="date" id="txtDate" name="txtDate" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_DATE' | translate }}" ng-model="today" ng-required="true"/>
					        		</label>
									<ion-checkbox ng-model="isHome" id="chkHome">{{ 'MATCH_NEWMATCH_CHKBOX_HOME' | translate }}</ion-checkbox>
					        		<div class="row" id="period1">
						        		<label class="item item-input is-required{{ frmNewMatch.txtPeriodLen1.$error.required ? ' has-error' : '' }}">
						        			<span class="input-label">{{ 'MATCH_NEWMATCH_LBL_PERIOD' | translate }}1</span>
						        			<input type="number" ng-model="txtPeriodLen1" id="txtPeriodLen1" name="txtPeriodLen1" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_PERIODLEN' | translate }}" ng-required="true"/>
						        		</label>
					        		</div>
					        		<div class="row" id="period2">
						        		<label class="item item-input is-required{{ frmNewMatch.txtPeriodLen2.$error.required ? ' has-error' : '' }}">
						        			<span class="input-label">{{ 'MATCH_NEWMATCH_LBL_PERIOD' | translate }}2</span>
						        			<input type="number" ng-model="txtPeriodLen2" id="txtPeriodLen2" name="txtPeriodLen2" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_PERIODLEN' | translate }}" ng-required="true"/>
						        		</label>
					        		</div>
					        		<div class="row" id="period3">
						        		<label class="item item-input is-not-required{{ frmNewMatch.txtPeriodLen3.$error.required ? ' has-error' : '' }}">
						        			<span class="input-label">{{ 'MATCH_NEWMATCH_LBL_PERIOD' | translate }}3</span>
						        			<input type="number" ng-model="txtPeriodLen3" id="txtPeriodLen3" name="txtPeriodLen3" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_PERIODLEN' | translate }}" />
						        		</label>
					        		</div>
					        		<div class="row" id="period4">
						        		<label class="item item-input is-not-required{{ frmNewMatch.txtPeriodLen4.$error.required ? ' has-error' : '' }}">
						        			<span class="input-label">{{ 'MATCH_NEWMATCH_LBL_PERIOD' | translate }}4</span>
						        			<input type="number" ng-model="txtPeriodLen4" id="txtPeriodLen4" name="txtPeriodLen4" placeholder="{{ 'MATCH_NEWMATCH_PLACEHOLDER_PERIODLEN' | translate }}" />
						        		</label>
					        		</div>
						        	<br/>
						        	<br/>
					        		<button class="button button-full button-stable" >{{ 'MATCH_NEWMATCH_LIST_SELECT_PLAYERS' | translate }}</button>
									<ul class="list" id="lstPlayers">
										<li class="item item-checkbox" ng-repeat="player in playersforteam">
											<ion-checkbox id="chkPlayer{{player.id}}" ng-model="player.checked">{{player.firstname}}&nbsp;{{player.lastname}}</ion-checkbox>
											<ion-checkbox id="chkPlayer{{player.id}}_Base" ng-model="player.isOnField">{{ 'MATCH_NEWMATCH_IS_BASE_PLAYER' | translate }}</ion-checkbox>
					        			</li>
					        		</ul>
					        		<br/>
					        		<br/>
					        	</div>
					        	<br/>
					        	<br/>
					        	<br/>
								<button id="btnFrmSubmit" class="button button-clear" ng-click="startMatch()" ng-disabled="frmNewMatch.$invalid"></button>
					        </div>
						</ion-content>
			        </form>
			</ion-view>
		</script>
        
        
        <script id="modal/selectPlayer.html" type="text/ng-template">
			<ion-modal-view>
				<ion-header-bar>
					<h1 class="title">{{ 'MATCH_MODAL_TITLE' | translate }}</h1>
				</ion-header-bar>
				<ion-content>
					<!-- 
					//	- list players, onclick => player selected
					//	- if wrong player => pop and redo
					-->
					<ion-list>
						<ion-item ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : true } }" ng-click="choosePlayer(matchplayer.player)">{{matchplayer.player.firstname}}&nbsp;{{matchplayer.player.lastname}}</ion-item>
					</ion-list>
			        <br/>
					<!-- 
					//	- No button here, more logic is already processed and no undo possible
					-->
				</ion-content>
			</ion-modal-view>
		</script>
        
        
        <script id="modal/replacePlayers.html" type="text/ng-template">
			<ion-modal-view>
				<ion-header-bar>
					<h1 class="title">{{ 'MATCH_MODAL_REPLACEMENT_TITLE' | translate }}</h1>
				</ion-header-bar>
				<ion-content>
			        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
			        	<tr>
			        		<td width="50%">{{ 'MATCH_MODAL_REPLACEMENT_ON_FIELD' | translate }}</td>
			        		<td width="50%">{{ 'MATCH_MODAL_REPLACEMENT_OFF_FIELD' | translate }}</td>
			        	</tr>
			        	<tr>
			        		<td width="50%">
								<ion-list>
									<ion-checkbox ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : true } }" ng-model="matchplayer.player.replace">{{matchplayer.player.lastname}}&nbsp;{{ matchplayer.player.firstname.substring(0, 1) }}.</ion-checkbox>
								<ion-list>
			        		</td>
			        		<td width="50%">
								<ion-list>
									<ion-checkbox ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : false } }" ng-model="matchplayer.player.replace">{{matchplayer.player.lastname}}&nbsp;{{ matchplayer.player.firstname.substring(0, 1) }}.</ion-checkbox>
								<ion-list>
			        		</td>
			        	</tr>
			        </table>
		        	<div class="content padding">
				        <button class="button button-block button-balanced" ng-click="doReplacements()" id="btnDoReplacements">{{ 'MATCH_MODAL_REPLACEMENT_BUTTON_DO_REPLACEMENT' | translate }}</button>
				        <br/>
				        <button class="button button-block button-balanced" ng-click="modalReplacements.hide()">{{ 'MATCH_MODAL_REPLACEMENT_BUTTON_CANCEL' | translate }}</button>
			        </div>
				</ion-content>
			</ion-modal-view>
		</script>
        
        
        <script id="modal/cardPlayer.html" type="text/ng-template">
			<ion-modal-view>
				<ion-header-bar>
					<h1 class="title">{{ 'MATCH_MODAL_CARD_TITLE' | translate }}</h1>
				</ion-header-bar>
				<ion-content>
						<!--
					<div class="list">
						<ion-radio ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : true } }" ng-model="$parent.matchPlayerWithCard" value="{{matchplayer.id}}" name="rdPlayerCard">{{matchplayer.player.lastname}}&nbsp;{{ matchplayer.player.firstname.substring(0, 1) }}.</ion-radio>

						<ion-item ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : true } }" >
							<input type="radio" id="rdPlayerCard{{matchplayer.id}}" name="rdPlayerCard" ng-model="$parent.matchPlayerWithCard" ng-value="matchplayer.id"/>&nbsp;&nbsp;<label for="rdPlayerCard{{matchplayer.id}}">{{matchplayer.player.lastname}}&nbsp;{{ matchplayer.player.firstname.substring(0, 1) }}.</label>
						</ion-item>
					</div>
						-->
					<ion-list>
						<label class="item item-radio" ng-repeat="matchplayer in playersForTeam | filter:{ player : { isOnField : true } }">
							<input type="radio" id="rdPlayerCard{{matchplayer.id}}" name="rdPlayerCard" ng-model="$parent.matchPlayerWithCard" ng-value="matchplayer.id"/>
							<div class="item-content">{{matchplayer.player.lastname}}&nbsp;{{ matchplayer.player.firstname.substring(0, 1) }}.</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
					</ion-list>
		        	<br/>
		        	<br/>
				    <table cellspacing="0" cellpadding="0" border="0"width="100%" height="100%">
				    	<tr>
				    		<td width="33%" align="center"><img src="img/YellowCard.png" ng-click="doCard(CARD_YELLOW)"/></td>
				    		<td width="34%" align="center"><img src="img/RedCard.png" ng-click="doCard(CARD_RED)"/></td>
				    		<td width="33%" align="center"><img src="img/YellowRedCard.png" ng-click="doCard(CARD_YELLOW_TO_RED)"/></td>
				    	</tr>
				    </table>
			        <br/>
		        	<div class="content padding">
			        	<button class="button button-block button-balanced" ng-click="modalCard.hide()">{{ 'MATCH_MODAL_CARD_BUTTON_CANCEL' | translate }}</button>
			        </div>
				</ion-content>
			</ion-modal-view>
		</script>
        
        
        <script id="templates/startMatch.html" type="text/ng-template">
			<ion-view title="Start Match">
				<ion-content ng-controller="MatchController">
			        	<table cellspacing="0" cellpadding="0" border="0" class="field" width="100%" height="100%">
			        		<tr height="75">
			        			<td width="30%" align="center"><h1><br/>{{ currentMatch.team.name.substring(0, 7) }}</h1></td>
			        			<td width="40%" align="center"><h1>{{ 'MATCH_LBL_PERIOD' | translate }}<br/>{{ periodCounter + 1 }} / {{ currentMatch.periods.length }}</h1></td>
			        			<td width="30%" align="center"><h1><br/>{{ currentMatch.opponent.substring(0, 7) }}</h1></td>
			        		</tr>
			        		<tr height="150">
			        			<td width="30%" align="center" valign="middle"><br/><br/><strong style="font-size: 90px;">{{ currentMatch.teamScore }}</strong></td>
			        			<td width="40%" align="center" valign="middle"><br/><h1>{{ minutes }}&nbsp;&nbsp; : &nbsp;&nbsp;{{ seconds }}</h1></td>
			        			<td width="30%" align="center" valign="middle"><br/><br/><strong style="font-size: 90px;">{{ currentMatch.opponentScore }}</strong></td>
			        		</tr>
			        		<tr height="75">
			        			<td width="30%" align="center">
									<button ng-click="addToTeam(-1)" id="btnAddToTeam1" style="display:none">-1</button>
									<button ng-click="addToTeam(1)" id="btnAddToTeam2" style="display:none">+1</button>
									<br/>
									<img src="img/arrow-swap.png" width="30px" height="30px" ng-click="startReplacement()" id="btnDoReplacement" style="display:none"/>
									<!-- 
									<button class="button button-clear ion-arrow-swap" ng-click="startReplacement()" id="btnDoReplacement" style="display:none"></button>
									 -->
									&nbsp;
									&nbsp;
									<img src="img/YellowRedCard_big.png" width="20px" height="26px"  ng-click="startCard()" id="imgDoCard" style="display:none"/>
									<!-- 
									<button class="button" ng-click="startCard()" id="imgDoCard" style="display:none"><img src="img/YellowRedCard.png"/></button>
									 -->
								</td>
			        			<td width="40%" align="center">
						        	<button class="button button-stable" ng-click="startPeriod()" id="btnStartPeriod">{{ 'MATCH_BTN_START' | translate }}</button>
									<!-- 
						        	<button class="button button-stable" ng-click="updateDisplay()" id="btnUpdateDisplay" style="display:none">{{ 'MATCH_BTN_UPDATE' | translate }}</button>
									 -->
						        	<button class="button button-stable" ng-click="saveData()" id="btnSaveData" style="display:none">{{ 'MATCH_BTN_SAVE' | translate }}</button>
						        	<button class="button button-stable" ng-click="goHome()" id="btnHome">{{ 'MATCH_BTN_HOME' | translate }}</button>
			        			</td>
			        			<td width="30%" align="center">
									<button ng-click="addToOpponent(-1)" id="btnAddToOpponent1" style="display:none">-1</button>
									<button ng-click="addToOpponent(1)" id="btnAddToOpponent2" style="display:none">+1</button>
								</td>
			        		</tr>
			        	</table>
				</ion-content>
			</ion-view>
		</script>

        
        
        <script id="templates/MatchDetails.html" type="text/ng-template">
			<ion-view title="Match Details">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/'"></button>
					<h1 class="title">{{ 'MATCH_DETAIL_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="MatchDetailController">
			        	<br/>
			        	<br/>
			        	<br/>
			        	<ul class="list">
						    <li class="item">
					        	<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
					        		<tr>
					        			<td width="49%" align="center"><span class="title"><b>{{ currentMatch.home ? currentMatch.team : currentMatch.opponent }}</b><br/>&nbsp;</span></td>
					        			<td width="2%" align="center">&nbsp;<br/>&nbsp;</td>
					        			<td width="49%" align="center"><span class="title"><b>{{ currentMatch.home ? currentMatch.opponent : currentMatch.team }}</b><br/>&nbsp;</span></td>
					        		</tr>
					        		<tr>
					        			<td width="49%" align="right" valign="bottom"><font size="25" color="grey">{{ currentMatch.home ? currentMatch.teamScore : currentMatch.opponentScore }}&nbsp;</font></td>
					        			<td width="2%" align="center"><img src="img/greybar.jpg"></td>
					        			<td width="49%" align="left" valign="bottom"><font size="25" color="grey">&nbsp;{{ currentMatch.home ? currentMatch.opponentScore : currentMatch.teamScore }}</font></td>
					        		</tr>
					        	</table>
						    </li>
						    <li class="item" align="center">
						    	<b>{{ currentMatch.date.toLocaleDateString() }}</b>
						    </li>
						    <li class="item">

						    	<div class="list list-inset">
						    		<div ng-repeat="period in currentMatch.periods">
							    		<div class="item" ng-repeat="goal in period.goals">
					        				<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
								        		<tr>
								        			<td width="50%" align="left">{{goal.player.firstname + " " + goal.player.lastname}}&nbsp;&nbsp;{{goal.minute}}'<!--'--></td>
								        			<td width="50%" align="center">
								        				<span class="{{ goal.isForMyTeam ? 'balanced-bg balanced-border' : 'assertive-bg assertive-border' }}">
								        					{{ goal.scoreMyTeam + " - " + goal.scoreOpponent}}
								        				</span>
								        			</td>
								        		</tr>
					        				</table>
							    		</div>
						    		</div>
						    	</div>
						    </li>
				    		<button class="button button-full button-stable">{{ 'MATCH_DETAIL_LBL_LINEUP' | translate }}</button>
						    <li class="item">
						    	<div class="list list-inset">
						    		<div class="item" ng-repeat="matchplayer in currentMatch.matchplayers">
			        					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
						    				<tr>
				    							<td colspan="2" width="50%" valign="center" align="left">{{matchplayer.player.firstname}}&nbsp;{{matchplayer.player.lastname}}</td>
				    							<td colspan="2" width="50%" valign="center" align="right"><i class="icon ion-checkmark-round" ng-show="matchplayer.isBasePlayer"/></td>
						    				</tr>
						    			</table>
						    		</div>
						    	</div>
						    </li>
				    		<button class="button button-full button-stable">{{ 'MATCH_DETAIL_LBL_REPLACEMENTS' | translate }}</button>
				    		<!--
				    		//Show with arrow in front:
				    		//	green arrow => in
				    		//	red arrow => out ( show with indent )
				    		-->
						    <li class="item">
						    	<div class="list list-inset">
						    		<div class="item" ng-repeat="replacement in replacements">
			        					<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
						    				<tr>
				    							<td colspan="2" width="15%" valign="center" align="center">{{replacement.minute}}'<!--'--></td>
						    				</tr>
						    				<tr>
				    							<td width="10%" valign="center"><img src="img/ReplacementIn.png" width="20px" height="20px"/></td>
						    					<td width="90%" valign="center" align="right">
						    						{{replacement.playerIn.player.firstname}}&nbsp;{{replacement.playerIn.player.lastname}}
						    					</td>
						    				</tr>
						    				<tr>
				    							<td width="10%" valign="center"><img src="img/ReplacementOut.png" width="20px" height="20px"/></td>
						    					<td width="90%" valign="center" align="right">
						    						{{replacement.playerOut.player.firstname}}&nbsp;{{replacement.playerOut.player.lastname}}
						    					</td>
						    				</tr>
						    			</table>
						    		</div>
						    	</div>
						    </li>
				    		<button class="button button-full button-stable">{{ 'MATCH_DETAIL_LBL_CARDS' | translate }}</button>
						    <li class="item">
						    	<div class="list list-inset">
						    		<div class="item" ng-repeat="card in cards">
				        				<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
							        		<tr>
				    							<td width="20%" valign="center"><img src="{{card.cardType.imageLink}}" width="20px" height="20px"/>&nbsp;&nbsp;{{card.minute}}'<!--'--></td>
							        			<td width="80%" align="right">{{card.matchPlayer.player.firstname + " " + card.matchPlayer.player.lastname}}</td>
							        		</tr>
				        				</table>
						    		</div>
						    	</div>
						    </li>
						</ul>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
				</ion-content>
			</ion-view>
		</script>
<!--
TTTTTTTTTTTTTTTTTTTTTTT                                                                         
T:::::::::::::::::::::T                                                                         
T:::::::::::::::::::::T                                                                         
T:::::TT:::::::TT:::::T                                                                         
TTTTTT  T:::::T  TTTTTTeeeeeeeeeeee    aaaaaaaaaaaaa      mmmmmmm    mmmmmmm       ssssssssss   
        T:::::T      ee::::::::::::ee  a::::::::::::a   mm:::::::m  m:::::::mm   ss::::::::::s  
        T:::::T     e::::::eeeee:::::eeaaaaaaaaa:::::a m::::::::::mm::::::::::mss:::::::::::::s 
        T:::::T    e::::::e     e:::::e         a::::a m::::::::::::::::::::::ms::::::ssss:::::s
        T:::::T    e:::::::eeeee::::::e  aaaaaaa:::::a m:::::mmm::::::mmm:::::m s:::::s  ssssss 
        T:::::T    e:::::::::::::::::e aa::::::::::::a m::::m   m::::m   m::::m   s::::::s      
        T:::::T    e::::::eeeeeeeeeee a::::aaaa::::::a m::::m   m::::m   m::::m      s::::::s   
        T:::::T    e:::::::e         a::::a    a:::::a m::::m   m::::m   m::::mssssss   s:::::s 
      TT:::::::TT  e::::::::e        a::::a    a:::::a m::::m   m::::m   m::::ms:::::ssss::::::s
      T:::::::::T   e::::::::eeeeeeeea:::::aaaa::::::a m::::m   m::::m   m::::ms::::::::::::::s 
      T:::::::::T    ee:::::::::::::e a::::::::::aa:::am::::m   m::::m   m::::m s:::::::::::ss  
      TTTTTTTTTTT      eeeeeeeeeeeeee  aaaaaaaaaa  aaaammmmmm   mmmmmm   mmmmmm  sssssssssss    
-->        
        
        <script id="templates/Teams.html" type="text/ng-template">
			<ion-view title="Teams">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/'"></button>
					<h1 class="title">{{ 'TEAMS_TITLE' | translate }}</h1>
					<button class="button button-icon button-clear ion-plus" onclick="window.location = '#/manageteam'" id="idNewTeam"></button>
				</div>
				<ion-content ng-controller="TeamsController">
		        	<br/>
		        	<br/>
		        	<br/>
		        	<!--
					//Show list
					//	Teams
					//	show '+' button that goes to add Team
					//  Delete, Edit => swipe
		        	-->
					<ion-list can-swipe="true">
						<ion-item ng-repeat="team in teams" ng-click="details(team)">
						    <table cellspacing="0" cellpadding="0" border="0" width="100%">
						    	<tr>
						    		<td width="99%">
						    			<span class="title">{{team.name}}</span>
						    		</td>
						    		<td align="right">
						    			<i class="icon ion-chevron-right"></i>
						    		</td>
						    	</tr>
						    </table>
							<ion-option-button class="button-assertive" ng-click="delete(team)">{{ 'TEAMS_DELETE' | translate }}</ion-option-button>
							<ion-option-button class="button-positive" ng-click="edit(team)">{{ 'TEAMS_EDIT' | translate }}</ion-option-button>
						</ion-item>
					</ion-list>
		        	<br/>
		        	<br/>
		        	<br/>
		        	<br/>
				</ion-content>
			</ion-view>
		</script>
        
        <script id="templates/ManageTeam.html" type="text/ng-template">
			<ion-view title="Manage Team">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/teams'"></button>
					<h1 class="title">{{ 'MANAGE_TEAM_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="TeamController">
					<form name="frmManageTeam" novalidate>
			        	<br/>
			        	<br/>
		        		<br/>
		        		<label class="item item-input is-required">
		        			<input type="text" id="txtNewTeam" placeholder="Team Name" ng-model="teamName" ng-required="true" ng-maxlength="75"/>
		        		</label>
			        	<br/>
			        	<br/>
			        	<div class="content padding">
					        <button class="button button-block button-balanced" ng-click="addTeam()" id="btnAddTeam" ng-disabled="frmManageTeam.$invalid">{{ 'MANAGE_TEAM_BUTTON_ADD' | translate }}</button>
					        <button class="button button-block button-balanced" ng-click="updateTeam()" id="btnUpdateTeam" style="display:none" ng-disabled="frmManageTeam.$invalid">{{ 'MANAGE_TEAM_BUTTON_UPDATE' | translate }}</button>
				        </div>
			        	<br/>
			        	<br/>
			        	<br/>
		        	</form>
				</ion-content>
			</ion-view>
		</script>
        
        <script id="templates/Team.html" type="text/ng-template">
			<ion-view title="Team">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/teams'"></button>
					<h1 class="title">{{ 'TEAM_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="TeamController">
					<form name="frmTeam" novalidate>
		        		<br/>
			        	<br/>
			        	<br/>
			        	<div class="content padding">
			        		<h1>{{team.name}}</h1>
				        </div>
			        	<br/>
					    <div class="button button-full button-stable">{{ 'TEAM_RIBBON_MATCHES' | translate }}{{ teamNrOfMatches }}</div>
					    <div class="button button-full button-stable">{{ 'TEAM_RIBBON_GOALS' | translate }}{{ teamNrOfGoalsScored }}&nbsp;/&nbsp;{{ teamNrOfGoalsAgainst }}</div>
					    <div class="button button-full button-stable">{{ 'TEAM_RIBBON_TOPSCORER' | translate }}{{topscorer.firstname}}&nbsp;{{topscorer.lastname}}</div>
			        	<br/>
	  					<label class="item item-input item-select">
						    <div class="input-label">{{ 'TEAM_LIST_PLAYERS' | translate }}</div>
							<select ng-model="playerToAdd" ng-required="true">
								<option value="">{{ 'TEAM_SELECT_CHOOSE_PLAYER' | translate }}</option>
								<option ng-repeat="player in players" value="{{player.id}}">{{player.firstname}}&nbsp;{{player.lastname}}</option>
							</select>
				        </label>
			        	<br/>
			        	<div class="content padding">
					    	<button class="button button-block button-balanced" ng-click="addPlayer()" ng-disabled="frmTeam.$invalid">{{ 'TEAM_BUTTON_ADD_PLAYER' | translate }}</button>
				        </div>
			        	<br/>
					    <button class="button button-full button-stable">{{ 'TEAM_RIBBON_PLAYERS' | translate }}</button>
						<ion-list can-swipe="true">
							<ion-item ng-repeat="player in teamplayers">{{player.firstname}}&nbsp;{{player.lastname}}
								<ion-option-button class="button-assertive" ng-click="deletePlayer(player)">{{ 'TEAM_DELETE' | translate }}</ion-option-button>
							</ion-item>
						</ion-list>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
		        	</form>
				</ion-content>
			</ion-view>
		</script>

<!--
PPPPPPPPPPPPPPPPP   lllllll                                                                                               
P::::::::::::::::P  l:::::l                                                                                               
P::::::PPPPPP:::::P l:::::l                                                                                               
PP:::::P     P:::::Pl:::::l                                                                                               
  P::::P     P:::::P l::::l   aaaaaaaaaaaaayyyyyyy           yyyyyyy eeeeeeeeeeee    rrrrr   rrrrrrrrr       ssssssssss   
  P::::P     P:::::P l::::l   a::::::::::::ay:::::y         y:::::yee::::::::::::ee  r::::rrr:::::::::r    ss::::::::::s  
  P::::PPPPPP:::::P  l::::l   aaaaaaaaa:::::ay:::::y       y:::::ye::::::eeeee:::::eer:::::::::::::::::r ss:::::::::::::s 
  P:::::::::::::PP   l::::l            a::::a y:::::y     y:::::ye::::::e     e:::::err::::::rrrrr::::::rs::::::ssss:::::s
  P::::PPPPPPPPP     l::::l     aaaaaaa:::::a  y:::::y   y:::::y e:::::::eeeee::::::e r:::::r     r:::::r s:::::s  ssssss 
  P::::P             l::::l   aa::::::::::::a   y:::::y y:::::y  e:::::::::::::::::e  r:::::r     rrrrrrr   s::::::s      
  P::::P             l::::l  a::::aaaa::::::a    y:::::y:::::y   e::::::eeeeeeeeeee   r:::::r                  s::::::s   
  P::::P             l::::l a::::a    a:::::a     y:::::::::y    e:::::::e            r:::::r            ssssss   s:::::s 
PP::::::PP          l::::::la::::a    a:::::a      y:::::::y     e::::::::e           r:::::r            s:::::ssss::::::s
P::::::::P          l::::::la:::::aaaa::::::a       y:::::y       e::::::::eeeeeeee   r:::::r            s::::::::::::::s 
P::::::::P          l::::::l a::::::::::aa:::a     y:::::y         ee:::::::::::::e   r:::::r             s:::::::::::ss  
PPPPPPPPPP          llllllll  aaaaaaaaaa  aaaa    y:::::y            eeeeeeeeeeeeee   rrrrrrr              sssssssssss    
                                                 y:::::y                                                                  
                                                y:::::y                                                                   
                                               y:::::y                                                                    
                                              y:::::y                                                                     
                                             yyyyyyy                                                                      
-->        
        
        <script id="templates/Players.html" type="text/ng-template">
			<ion-view title="Players">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/'"></button>
					<h1 class="title">{{ 'PLAYERS_TITLE' | translate }}</h1>
					<button class="button button-icon button-clear ion-plus" onclick="window.location = '#/manageplayer'" id="idNewPlayer"></button>
				</div>
				<ion-content ng-controller="PlayersController">
					<!--
					//Show list
					//	Teams
					//	show '+' button that goes to add Team
					//  Delete, Edit => swipe
					-->
		        	<br/>
		        	<br/>
		        	<br/>
					<ion-list can-swipe="true">
						<ion-item ng-repeat="player in players" ng-click="details(player)">
						    <table cellspacing="0" cellpadding="0" border="0" width="100%">
						    	<tr>
						    		<td width="99%">
						    			<span class="title">{{player.firstname}}&nbsp;{{player.lastname}}</span>
						    		</td>
						    		<td>
						    			<i class="icon ion-chevron-right"></i>
						    		</td>
						    	</tr>
						    </table>
							<ion-option-button class="button-assertive" ng-click="delete(player)">{{ 'PLAYERS_SLIDEACTION_DEL' | translate }}</ion-option-button>
							<ion-option-button class="button-positive" ng-click="edit(player)">{{ 'PLAYERS_SLIDEACTION_EDIT' | translate }}</ion-option-button>
						</ion-item>
					</ion-list>
		        	<br/>
		        	<br/>
		        	<br/>
		        	<br/>
				</ion-content>
			</ion-view>
		</script>
        
        <script id="templates/ManagePlayer.html" type="text/ng-template">
			<ion-view title="Manage Player">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/players'"></button>
					<h1 class="title">{{ 'PLAYERS_MANAGE_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="PlayerController">
					<form name="frmManagePlayer" novalidate>
		        		<br/>
			        	<br/>
			        	<br/>
		        		<label class="item item-input is-required">
		        			<input type="text" placeholder="{{ 'PLAYERS_MANAGE_PLACEHOLDER_FIRSTNAME' | translate }}" ng-model="firstName" ng-required="true" ng-maxlength="75"/>
		        		</label>
		        		<label class="item item-input is-required">
		        			<input type="text" placeholder="{{ 'PLAYERS_MANAGE_PLACEHOLDER_LASTNAME' | translate }}" ng-model="lastName" ng-required="true" ng-maxlength="75"/>
		        		</label>
			        	<br/>
			        	<br/>
			        	<div class="content padding">
					        <button class="button button-block button-balanced" ng-click="addPlayer()" id="btnAddPlayer" ng-disabled="frmManagePlayer.$invalid">{{ 'PLAYERS_MANAGE_BTN_ADD' | translate }}</button>
					        <button class="button button-block button-balanced" ng-click="updatePlayer()" id="btnUpdatePlayer" style="display:none" ng-disabled="frmManagePlayer.$invalid">{{ 'PLAYERS_MANAGE_BTN_UPDATE' | translate }}</button>
				        </div>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
		        	</form>
				</ion-content>
			</ion-view>
		</script>
        
        <script id="templates/Player.html" type="text/ng-template">
			<ion-view title="Player">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/players'"></button>
					<h1 class="title">{{ 'PLAYERS_PLAYER_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="PlayerController">
		        	<br/>
		        	<br/>
		        	<br/>
			        <div class="content padding">
	        			<h1>{{player.firstname}}&nbsp;{{player.lastname}}</h1>
	        		</div>
		        	<br/>
				    <button class="button button-full button-stable" >{{ 'PLAYERS_PLAYER_LBL_MATCHES' | translate }}{{ player.nrOfMatches }}</button>
				    <button class="button button-full button-stable" >{{ 'PLAYERS_PLAYER_LBL_GOALS' | translate }}{{ player.nrOfGoals }}</button>
		        	<br/>
				    <button class="button button-full button-stable">{{ 'PLAYERS_PLAYER_LBL_TEAMS' | translate }}</button>
					<ion-list>
						<ion-item ng-repeat="team in teams" ng-click="goToTeam(team)">
						    <table cellspacing="0" cellpadding="0" border="0" width="100%">
						    	<tr>
						    		<td width="99%">
						    			<span class="title">{{team.name}}</span>
						    		</td>
						    		<td align="right">
						    			<i class="icon ion-chevron-right"></i>
						    		</td>
						    	</tr>
						    </table>
						</ion-item>
					</ion-list>
		        	<br/>
		        	<br/>
		        	<br/>
		        	<br/>
				</ion-content>
			</ion-view>
		</script>
   
<!--
   SSSSSSSSSSSSSSS                              tttt               tttt            iiii                                                        
 SS:::::::::::::::S                          ttt:::t            ttt:::t           i::::i                                                       
S:::::SSSSSS::::::S                          t:::::t            t:::::t            iiii                                                        
S:::::S     SSSSSSS                          t:::::t            t:::::t                                                                        
S:::::S                eeeeeeeeeeee    ttttttt:::::tttttttttttttt:::::ttttttt    iiiiiiinnnn  nnnnnnnn       ggggggggg   ggggg    ssssssssss   
S:::::S              ee::::::::::::ee  t:::::::::::::::::tt:::::::::::::::::t    i:::::in:::nn::::::::nn    g:::::::::ggg::::g  ss::::::::::s  
 S::::SSSS          e::::::eeeee:::::eet:::::::::::::::::tt:::::::::::::::::t     i::::in::::::::::::::nn  g:::::::::::::::::gss:::::::::::::s 
  SS::::::SSSSS    e::::::e     e:::::etttttt:::::::tttttttttttt:::::::tttttt     i::::inn:::::::::::::::ng::::::ggggg::::::ggs::::::ssss:::::s
    SSS::::::::SS  e:::::::eeeee::::::e      t:::::t            t:::::t           i::::i  n:::::nnnn:::::ng:::::g     g:::::g  s:::::s  ssssss 
       SSSSSS::::S e:::::::::::::::::e       t:::::t            t:::::t           i::::i  n::::n    n::::ng:::::g     g:::::g    s::::::s      
            S:::::Se::::::eeeeeeeeeee        t:::::t            t:::::t           i::::i  n::::n    n::::ng:::::g     g:::::g       s::::::s   
            S:::::Se:::::::e                 t:::::t    tttttt  t:::::t    tttttt i::::i  n::::n    n::::ng::::::g    g:::::g ssssss   s:::::s 
SSSSSSS     S:::::Se::::::::e                t::::::tttt:::::t  t::::::tttt:::::ti::::::i n::::n    n::::ng:::::::ggggg:::::g s:::::ssss::::::s
S::::::SSSSSS:::::S e::::::::eeeeeeee        tt::::::::::::::t  tt::::::::::::::ti::::::i n::::n    n::::n g::::::::::::::::g s::::::::::::::s 
S:::::::::::::::SS   ee:::::::::::::e          tt:::::::::::tt    tt:::::::::::tti::::::i n::::n    n::::n  gg::::::::::::::g  s:::::::::::ss  
 SSSSSSSSSSSSSSS       eeeeeeeeeeeeee            ttttttttttt        ttttttttttt  iiiiiiii nnnnnn    nnnnnn    gggggggg::::::g   sssssssssss    
                                                                                                                      g:::::g                  
                                                                                                          gggggg      g:::::g                  
                                                                                                          g:::::gg   gg:::::g                  
                                                                                                           g::::::ggg:::::::g                  
                                                                                                            gg:::::::::::::g                   
                                                                                                              ggg::::::ggg                     
                                                                                                                 gggggg                                                                                  
-->        
        
        <script id="templates/Settings.html" type="text/ng-template">
			<ion-view title="Settings">
		    	<div class="bar bar-header bar-balanced" id="barHeader">
					<button class="button icon-left ion-chevron-left button-clear" onclick="window.location = '#/'"></button>
					<h1 class="title">{{ 'SETTINGS_TITLE' | translate }}</h1>
				</div>
				<ion-content ng-controller="SettingsController">
		        	<br/>
		        	<br/>
		        	<br/>
					<ion-checkbox ng-model="twitter.value" ng-change="changeTwitter(twitter)">{{ 'DO_TWITTER' | translate }}</ion-checkbox>
		        	<br/>
		        	<br/>
					<div class="list">
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="en" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_ENGLISH' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="nl" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_DUTCH' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="de" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_GERMAN' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="es" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_SPANISH' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="pt" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_PORTUGEES' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
						<label class="item item-radio">
    						<input type="radio" name="group" ng-model="preferredLang.value" value="it" ng-change="changeLang(preferredLang)">
    						<div class="item-content">{{ 'LANG_ITALIAN' | translate }}</div>
							<i class="radio-icon ion-checkmark"></i>
						</label>
					</div>
		        	<br/>
		        	<br/>
		        	<br/>
		        	<br/>
				</ion-content>
			</ion-view>
		</script>

<!--
   SSSSSSSSSSSSSSS                                          iiii                              tttt                           
 SS:::::::::::::::S                                        i::::i                          ttt:::t                           
S:::::SSSSSS::::::S                                         iiii                           t:::::t                           
S:::::S     SSSSSSS                                                                        t:::::t                           
S:::::S                ccccccccccccccccrrrrr   rrrrrrrrr  iiiiiiippppp   ppppppppp   ttttttt:::::ttttttt        ssssssssss   
S:::::S              cc:::::::::::::::cr::::rrr:::::::::r i:::::ip::::ppp:::::::::p  t:::::::::::::::::t      ss::::::::::s  
 S::::SSSS          c:::::::::::::::::cr:::::::::::::::::r i::::ip:::::::::::::::::p t:::::::::::::::::t    ss:::::::::::::s 
  SS::::::SSSSS    c:::::::cccccc:::::crr::::::rrrrr::::::ri::::ipp::::::ppppp::::::ptttttt:::::::tttttt    s::::::ssss:::::s
    SSS::::::::SS  c::::::c     ccccccc r:::::r     r:::::ri::::i p:::::p     p:::::p      t:::::t           s:::::s  ssssss 
       SSSSSS::::S c:::::c              r:::::r     rrrrrrri::::i p:::::p     p:::::p      t:::::t             s::::::s      
            S:::::Sc:::::c              r:::::r            i::::i p:::::p     p:::::p      t:::::t                s::::::s   
            S:::::Sc::::::c     ccccccc r:::::r            i::::i p:::::p    p::::::p      t:::::t    ttttttssssss   s:::::s 
SSSSSSS     S:::::Sc:::::::cccccc:::::c r:::::r           i::::::ip:::::ppppp:::::::p      t::::::tttt:::::ts:::::ssss::::::s
S::::::SSSSSS:::::S c:::::::::::::::::c r:::::r           i::::::ip::::::::::::::::p       tt::::::::::::::ts::::::::::::::s 
S:::::::::::::::SS   cc:::::::::::::::c r:::::r           i::::::ip::::::::::::::pp          tt:::::::::::tt s:::::::::::ss  
 SSSSSSSSSSSSSSS       cccccccccccccccc rrrrrrr           iiiiiiiip::::::pppppppp              ttttttttttt    sssssssssss    
                                                                  p:::::p                                                    
                                                                  p:::::p                                                    
                                                                 p:::::::p                                                   
                                                                 p:::::::p                                                   
                                                                 p:::::::p                                                   
                                                                 ppppppppp                                                   
-->
		
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>	
        <script type="text/javascript" src="js/ionic.bundle.min.js"></script>		
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/service/helper.js"></script>
        <script type="text/javascript" src="js/model/variables.js"></script>
        <script type="text/javascript" src="js/model/matches.js"></script>
        <script type="text/javascript" src="js/SoccerService.js"></script>
        <script type="text/javascript" src="js/Navigation.js"></script>
        <script type="text/javascript" src="js/controller/playerController.js"></script>
        <script type="text/javascript" src="js/service/databaseService.js"></script>
        <script type="text/javascript" src="js/service/services.js"></script>
        <script type="text/javascript" src="js/angular-translate/angular-translate.min.js"></script>	
        <script type="text/javascript" src="js/service/translationService.js"></script>
        
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
