<!DOCTYPE html>
<html ng-app="SoccerKeeperApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/ionic.min.css" />
        <style type="text/css">
        	.field {
			    background: url(img/footballfield.jpg);
			    background-size: 100% 100%;
			    background-repeat: no-repeat;
			}
        </style>
        <title>Hello World</title>
    </head>
    <body>
    	<ion-nav-view animation="slide-left-right"></ion-nav-view>
    	
        
    	<div class="bar bar-header bar-positive" id="barHeader">
			<a class="button" href="#/">Home</a>
			<h1 class="title">Score Keeper</h1>
			<a class="button" href="#/newMatch">New</a>
		</div>
				<br/>
				<br/>
				<br/>
				<br/>
				<h1>Loading...</h1>
        
        <script id="templates/home.html" type="text/ng-template">
			<ion-view title="home">
				<ion-content class="padding" ng-controller="HomeController">
				
			        <div class="app">
						<div class="content has-header ionic-pseudo">
							<div class="list">
								<div ng-repeat="team in teams">
									<div class="item item-divider">
									    {{ team.team }}
									</div>
									
									<a class="item" href="#" ng-repeat="match in team.matches">
									    {{ match.opponent }} | {{ match.home }} | {{ match.teamScore }} - {{ match.opponentScore }}
									</a>
								</div>
							</div>
						</div>
			        </div>

				</ion-content>
			</ion-view>
		</script>
        
        
        <script id="templates/newMatch.html" type="text/ng-template">
			<ion-view title="newMatch">
				<ion-content ng-controller="SoccerController">
			        <div class="app">
			        	<br/>
			        	<br/>
			        	<br/>
			        	<br/>
			        	<div class="list">
			        		<label class="item item-input">
			        			<input type="text" id="txtTeam" placeholder="Team">
			        		</label>
			        		<label class="item item-input">
			        			<input type="text" id="txtOpponent" placeholder="Opponent">
			        		</label>
			        		<label class="item item-input">
			        			<input type="date" id="txtDate" placeholder="Date" ng-model="today">
			        		</label>
							<ion-checkbox ng-model="isHome" id="chkHome">Home?</ion-checkbox>
			        		<div class="row" id="period1">
				        		<label class="item item-input">
				        			<span class="input-label">Period 1</span>
				        			<input type="number" id="txtPeriodLen1" placeholder="Lengte">
				        		</label>
			        		</div>
			        		<div class="row" id="period2">
				        		<label class="item item-input">
				        			<span class="input-label">Period 2</span>
				        			<input type="number" id="txtPeriodLen2" placeholder="Lengte">
				        		</label>
			        		</div>
			        		<div id="newPeriod"/>
			        		<button class="button button-stable" ng-click="addPeriod()">Add period</button>
				        	<br/>
				        	<br/>
			        		<button class="button button-positive" ng-click="startMatch()">Start match</button>
			        	</div>
			        </div>
				</ion-content>
			</ion-view>
		</script>
        
        
        <script id="templates/startMatch.html" type="text/ng-template">
			<ion-view title="Start Match">
				<ion-content ng-controller="MatchController">
			        	<table cellspacing="0" cellpadding="0" border="0" class="field" width="100%" height="100%">
			        		<tr height="75">
			        			<td width="25%" align="center"><h1><br/>{{ currentMatch.team }}</h1></td>
			        			<td width="50%" align="center"><h1><br/>{{ periodCounter + 1 }} / {{ currentMatch.periods.length }}</h1></td>
			        			<td width="25%" align="center"><h1><br/>{{ currentMatch.opponent }}</h1></td>
			        		</tr>
			        		<tr height="150">
			        			<td width="25%" align="center" valign="middle"><strong style="font-size: 70px;">{{ currentMatch.teamScore }}</strong></td>
			        			<td width="50%" align="center" valign="middle"><h1>{{ minutes }}&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;{{ seconds }}</h1></td>
			        			<td width="25%" align="center" valign="middle"><strong style="font-size: 70px;">{{ currentMatch.opponentScore }}</strong></td>
			        		</tr>
			        		<tr height="75">
			        			<td width="25%" align="center">
									<button id="down" ng-click="addToTeam(-1)">-1</button>
									<button id="up" ng-click="addToTeam(1)">+1</button>
								</td>
			        			<td width="50%" align="center">
						        	<button class="button button-stable" ng-click="startPeriod()">Start</button>
						        	<button class="button button-stable" ng-click="updateDisplay()">Update</button>
						        	<button class="button button-stable" ng-click="saveData()">Save</button>
									<a class="button" href="#/">Home</a>
			        			</td>
			        			<td width="25%" align="center">
									<button id="down" ng-click="addToOpponent(-1)">-1</button>
									<button id="up" ng-click="addToOpponent(1)">+1</button>
								</td>
			        		</tr>
			        	</table>
				</ion-content>
			</ion-view>
		</script>
		
        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>	
        <script type="text/javascript" src="js/ionic.bundle.min.js"></script>		
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/model/variables.js"></script>
        <script type="text/javascript" src="js/model/matches.js"></script>
        <script type="text/javascript" src="js/SoccerService.js"></script>
        <script type="text/javascript" src="js/Navigation.js"></script>
        <script type="text/javascript" src="js/SoccerController.js"></script>
        <script type="text/javascript" src="js/service/fileService.js"></script>
        
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
